<!DOCTYPE html>
<html>
<head>
    <title>Headless Lounge Bot</title>
    <script src="/link-success.js" type="application/javascript"></script>
</head>
<body>
    <h2>Accounts Linked</h2>
    <p>
        You may now close this window.
    </p>
</body>
</html>